.navbar_container {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #000, 50%, #0CAFFF);
}

.navbar_container h4 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
}

.navbar_container button {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
    background-color: #0071a9;
}