<div class="form_container">
    <div class="form_inputs" [ngStyle]="{'border-radius': totalCost !== null ? '8px 8px 0px 0px' : '8px'}">
        <input
            type="number"
            [(ngModel)]="numberOfPeople"
            placeholder="No of people"
            min="0"
            name="numberOfPeople"
            (input)="validateInput('numberOfPeople')"
        />
        <input
            type="number"
            [(ngModel)]="breadCostPerKilo"
            placeholder="Bread cost (per kilo)"
            min="0"
            name="breadCostPerKilo"
            (input)="validateInput('breadCostPerKilo')"
        />
      
        <button (click)="calculate()" [disabled]="disableButton">Calculate</button>
    </div>
    <div *ngIf="totalCost !== null" class="total_cost">
        <p>Total Cost: {{ totalCost | currency: 'EUR' }}</p>
    </div>
</div>