.form_container {
    padding: 20px 40px;
}

.form_inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.form_inputs input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.form_container input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form_inputs button {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
    background-color: #0071a9;
}

.form_container .total_cost {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    background-color: #0071a9;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 650px) {
    .form_inputs {
        flex-wrap: wrap;
    }
}