.history_container {
    padding: 0px 40px 20px 40px;
}

.history_table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;  
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    font-size: 18px;
}
  
.history_table th,
.history_table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.history_table th {
    background-color: #f4f4f4;
}

.history_table thead {
    border-radius: 5px;
}

.history_table thead th {
    border-bottom: 2px solid #000;
}
  