.history_container {
    padding: 0px 40px 20px 40px;
}

.history_container h4 {
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 0.8;
    font-weight: 600;
    margin-bottom: 10px;
}

.table_wrapper {
    max-height: 450px;
    overflow: auto;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.history_table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-size: 18px;
}
  
.history_table th,
.history_table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
}

.history_table thead {
    position: sticky;
    top: 0;
    background-color: #0071a9;
    color: #ffffffcf;
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}